body{
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

.top-nav {
    background-color: rgba(255, 112, 60, 1);
    height: 30px;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.user-info {
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin-right: 10px;
}

.user-info span {
    margin-right: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
    padding: 8px 0;
    right: 0; /* Hiển thị dropdown từ phải sang trái */
}

.dropdown-content a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 6px 12px;
    font-size: 14px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
