body{
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.header-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    margin-left: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
tr {
    user-select: none;
}

tr.selected {
    background-color: #b8b8b8;
}

#context-menu {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 0;
    z-index: 1000;
}
#context-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#context-menu ul li {
    cursor: pointer;
    padding: 5px 15px;
}
#context-menu ul li:hover {
    background-color: #f0f0f0;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination a {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
    margin-right: 5px;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #ddd;
}

.pagination .active {
    background-color: #007bff;
    color: white;
}
